* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1e1e1e;
    color: #ffffff;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1e1e1e;
}

.shlok {
    font-size: 40px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #f39c12;
}

/* Hero sectin */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.hero-text {
    max-width: 50%;
}

.intro {
    font-size: 30px;
    color: #a2ff00;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-text h1 span {
    color: #ffc107;
}

.desc {
    margin-bottom: 30px;
    line-height: 1.6;
    color: #cccccc;
}



.btn.purple {
    background-color: #6c5ce7;
    color: #fff;
}

.btn.yellow {
    background-color: #fdcb6e;
    color: #000;
}

/* Hero image */
.shlokimage img {

  max-width: 100%;
  height: auto;


}

/* About section */
.about {
    background-color: #383E41;
    padding: 60px 50px;
    color: #ffffff;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffc107;
}

.about p {
    font-size: 22px;
    line-height: 1.6;
    color: #dddddd;
}

/* Resume section */
.resume {
    background-color: #1e1e1e;
    padding: 60px 50px;
    text-align: center;
}

.resume h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #00d9ff;
}

.resume p {
    font-size: 20px;
    color: #cccccc;
    margin-bottom: 30px;
}

.resume .btn {
    text-decoration: none;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
}

.shlokcv img {
 
  max-width: 100%;
  height: auto;


   
}



/* Contact section */
.contact {
    background-color: #2c2c2c;
    padding: 60px 50px;
    text-align: center;
    color: #ffffff;
}

.contact h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ff7675;
}

.contact p {
    margin-bottom: 50px;
    color: #dddddd;
}

/* Contact section */
.contact {
    background-color: #2c2c2c;
    padding: 60px 50px;
    text-align: center;
    color: #ffffff;
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ff7675;
}

.contact p {
    margin-bottom: 20px;
    color: #dddddd;
}

.shlokemail {
    font-size: 18px;
    font-weight: bold;
    color: #74b9ff;
    background-color: #1e1e1e;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 6px;
    border: 1px solid #74b9ff;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .hero-text {
    font-size: 1.2rem;
    text-align: center;
  }
}

